                                                                                                                                                                                                                                                                                            body {
    background:   rgba(0, 0, 0, 0.7) url("https://www.wallpapertip.com/wmimgs/34-344768_377757-title-video-game-minecraft-forest-wallpaper-minecraft.jpg");
   height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 
}
footer {
  
background: #fff url("https://p4.wallpaperbetter.com/wallpaper/199/245/79/nier-automata-2b-nier-automata-9s-nier-automata-sea-ruins-hd-wallpaper-preview.jpg");
color: #fff;
}