body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-image: url("../img/playas-hermosas.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    font-weight: 600;
    font-size: 18px;
}

#content {
    max-width: 800px;
    height: auto;
}

#title {
    font-weight: 600;
}

#description {
    text-shadow: white 1px 1px 2px;
}

header,
footer {
    text-align: center;
    color: black;
    margin: 20px;
}

main {
    background-color: hsla(48, 20%, 90%, 0.836);
    padding: 40px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: #333 3px 3px 20px 4px;
}

#submit {
    margin-bottom: 10px;
}

#credits {
    color: rgb(126, 125, 125);
    text-decoration: none;
    font-size: 11px;
}

#credits:hover {
    color: rgb(87, 86, 86);
}
